build/
cache/
run/
logs/
toolchains/
downloads/
releases/
*.z64
*.n64
*.v64
*.o2r
*.otr
*.jks
*.keystore
*.pdb
signing.properties
local.properties
.gradle/
__pycache__/
2ship2harkinian.json
imgui.ini
saves/
mods/
texturepacks/
